---
const REDIRECT_URL = '/projects/1';
---

<!DOCTYPE html>
<head lang="en">
	<head>
		<script define:vars={{ REDIRECT_URL }}>
			// Immediately redirect
			window.location = REDIRECT_URL;
		</script>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Loading</title>
	</head>

	<body>
		<h1>
			<a href={REDIRECT_URL}>
				Please click here if you aren't redirected to the main site
			</a>
		</h1>
	</body>
</head>
