---
type Props = {
	description: string;
};

const { description } = Astro.props;
---

<span
	class="navigation"
	id="aboutMe"
></span>
<section class="blurb">
	<h2>About me</h2>
	<p>{description}</p>
</section>
