---
---

<span
	class="navigation"
	id="aboutMe"
></span>
<section class="blurb">
	<h2>About me</h2>
	<p>
		Community taught software engineer with experience in front-end and back-end
		development, cloud infrastructure, and QA testing
	</p>
</section>
