---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = {
	// eslint-disable-next-line @typescript-eslint/no-explicit-any
	children?: any;
};

type Link = {
	href: string;
	text: string;
};
const links: Link[] = [
	{
		text: 'home',
		href: '/',
	},
	{
		text: 'about me',
		href: '#aboutMe',
	},
	{
		text: 'projects',
		href: '#projects',
	},
	{
		text: 'contact me',
		href: '#contactMe',
	},
];
---

<nav>
	<ul>
		<slot name="list-start" />
		{
			links.map(({ text, href }) => (
				<li>
					<a {href}>{text}</a>
				</li>
			))
		}
		<slot name="list-end" />
	</ul>
</nav>
