---
import Layout from '@layouts/Layout.astro';

import Project from '@components/Project/Project.astro';
import ContactForm from '@components/ContactForm.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import Navigation from '@components/Navigation.astro';

import projects from '@content/projects';

import orangeHtml from '@images/orangehtml.webp';

import type { Project as ProjectProps } from '@content/projects';
import type { GetStaticPathsResult, GetStaticPathsOptions, Page } from 'astro';

type Props = {
	page: Page<ProjectProps>;
};

export function getStaticPaths({
	paginate,
}: GetStaticPathsOptions): GetStaticPathsResult {
	return paginate(projects, { pageSize: 3 });
}

const { page }: Props = Astro.props;
---

<Layout title="Jacob Asper">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<h1>
				<a href="index.html">Jacob Asper</a>
			</h1>
			<Navigation />
			<nav class="main">
				<ul>
					<li class="menu">
						<a
							class="fa-bars"
							href="#menu"
							>Menu</a
						>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Menu -->
		<section id="menu">
			<!-- Links -->
			<section>
				<Navigation />
			</section>
		</section>
		<!-- Main -->
		<span
			class="navigation"
			id="projects"
		></span>
		<div id="main">
			{page.data.map((project) => <Project {...project} />)}

			<Pagination {page} />
		</div>
		<!-- Sidebar -->
		<section id="sidebar">
			<!-- Intro -->
			<section id="intro">
				<img
					class="logo"
					src={orangeHtml}
					alt="HTML closing tag"
				/>
				<header>
					<h2>Jacob Asper</h2>
					<p>Professional full stack Web developer</p>
					<ul class="icons">
						<li>
							<a
								href="https://twitter.com/asper_jacob"
								class="icon brands fa-twitter"
								target="_blank"
								rel="noopener noreferrer"
							>
								Twitter</a
							>
						</li>
						<li>
							<a
								href="https://www.linkedin.com/in/jacobasper191/"
								class="icon brands fa-linkedin"
								target="_blank"
								rel="noopener noreferrer"
							>
								LinkedIn</a
							>
						</li>
						<li>
							<a
								href="https://github.com/20jasper"
								class="icon brands fa-github"
								target="_blank"
								rel="noopener noreferrer"
							>
								GitHub</a
							>
						</li>
					</ul>
				</header>
			</section>
			<!-- About Me -->
			<span
				class="navigation"
				id="aboutMe"
			></span>
			<section class="blurb">
				<h2>About me</h2>
				<p>
					Community taught software engineer with a proven track record of
					creating and implementing successful front and back end web
					applications. Skilled in solving problems with JavaScript, Node,
					MongoDB, Express, HTML, CSS, and React.
				</p>
			</section>
			<ContactForm
				isJobHunting={false}
				pageIndex={page.currentPage}
			/>
			<!-- Footer -->
			<section id="footer">
				<p class="copyright">
					&copy;
					<a href="https://jacobasper.com/">Jacob Asper.</a>
					Images:
					<a
						href="http://unsplash.com"
						target="_blank"
						rel="noreferrer noopener"
						>Unsplash.</a
					>
				</p>
			</section>
		</section>
	</div>
</Layout>
