---
import Layout from '../../layouts/Layout.astro';
import Project from '../../components/Project.astro';
import ContactForm from '../../components/ContactForm.astro';

import type {Props as ProjectPage} from "../../components/Project.astro"
import type { GetStaticPathsResult, GetStaticPathsOptions, Page} from "astro";

type Props = {
  page: Page<ProjectPage>
}

export function getStaticPaths({ paginate }: GetStaticPathsOptions): GetStaticPathsResult {
  const projectPages: ProjectPage[] = [{
    demoUrl: "",
    gitHubUrl: "",
    projectName: "five line"
  }];

  return paginate(projectPages, { pageSize: 3 });
}

// Paginated data is in the `page` prop
const { page }: Props = Astro.props;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<!-- <h1>Page {page.currentPage}</h1> -->

<Layout title='Jacob Asper'>
<!-- Wrapper -->
<div id="wrapper">
	<!-- Header -->
	<header id="header">
		<h1>
			<a href="index.html">Jacob Asper</a>
		</h1>
		<nav class="links">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="#aboutMe">About Me</a>
				</li>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="#contactMe">Contact Me</a>
				</li>
			</ul>
		</nav>
		<nav class="main">
			<ul>
				<!-- <li class="search">
							<a class="fa-search" href="#search">Search</a>
							<form id="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</li> -->
				<li class="menu">
					<a
						class="fa-bars"
						href="#menu"
					>Menu</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- Menu -->
	<section id="menu">
		<!-- Search -->
		<!-- <section>
						<form class="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</section> -->
		<!-- Links -->
		<section>
			<ul class="links">
				<li>
					<a href="index.html">
						<h3>Home</h3>
					</a>
				</li>
				<li>
					<a href="#aboutMe">
						<h3>About Me</h3>
					</a>
				</li>
				<li>
					<a href="#projects">
						<h3>Projects</h3>
					</a>
				</li>
				<li>
					<a href="#contactMe">
						<h3>Contact Me</h3>
					</a>
				</li>
			</ul>
		</section>
		<!-- Actions -->
		<!-- <section>
						<ul class="actions stacked">
							<li><a href="#" class="button large fit">Log In</a></li>
						</ul>
					</section> -->
	</section>
	<!-- Main -->
	<span
		class="navigation"
		id="projects"
	/>
	<div id="main">
    {page.data.map((project) => <Project {...project}/>)}

		<!-- Pagination -->
		<ul class="actions pagination">
			<li>
				<div
					class="disabled button large previous"
				>Previous Page</div>
			</li>
			<li>
				<a
					href="page2.html"
					class="button large next"
				>Next Page</a>
			</li>
		</ul>
	</div>
	<!-- Sidebar -->
	<section id="sidebar">
		<!-- Intro -->
		<section id="intro">
			<img
				class="logo"
				src="images/orangehtml.webp"
				alt="HTML closing tag"
			>
			<header>
				<h2>Jacob Asper</h2>
				<p>Professional full stack Web developer</p>
				<ul class="icons">
					<li>
						<a
							href="https://twitter.com/asper_jacob"
							class="icon brands fa-twitter"
							target="_blank"
							rel="noopener noreferrer"
						> Twitter</a>
					</li>
					<li>
						<a
							href="https://www.linkedin.com/in/jacobasper191/"
							class="icon brands fa-linkedin"
							target="_blank"
							rel="noopener noreferrer"
						> LinkedIn</a>
					</li>
					<li>
						<a
							href="https://github.com/20jasper"
							class="icon brands fa-github"
							target="_blank"
							rel="noopener noreferrer"
						> GitHub</a>
					</li>
				</ul>
			</header>
		</section>
		<!-- About Me -->
		<span
			class="navigation"
			id="aboutMe"
		/>
		<section class="blurb">
			<h2>About me</h2>
			<p>Community taught software engineer with a proven track record of creating and implementing successful front and back end web applications. Skilled in solving problems with JavaScript, Node, MongoDB, Express, HTML, CSS, and React.</p>
		</section>
		<ContactForm isJobHunting={false} />
		<!-- Footer -->
		<section id="footer">
			<p class="copyright">
				&copy;
				<a href="https://jacobasper.com/">Jacob Asper.</a>
				Images:
				<a
					href="http://unsplash.com"
					target="_blank"
					rel="noreferrer noopener"
				>Unsplash.</a>
			</p>
		</section>
	</section>
</div>
<!-- Scripts -->
<script is:inline src="assets/js/jquery.min.js" />
<script is:inline src="assets/js/browser.min.js" />
<script is:inline src="assets/js/breakpoints.min.js" />
<script is:inline src="assets/js/util.js" />
<script is:inline src="assets/js/main.js" />
</Layout>
