---
import Layout from '@layouts/Layout.astro';

import Project from '@components/Project/Project.astro';
import ContactForm from '@components/ContactForm.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import Navigation from '@components/Navigation.astro';
import HamburgerMenuIcon from '@components/Icons/HamburgerMenuIcon.astro';
import Footer from '@components/Footer.astro';
import AboutMe from '@components/AboutMe.astro';

import projects from '@content/projects';

import orangeHtml from '@images/orangehtml.webp';

import type { Project as ProjectProps } from '@content/projects';
import type { GetStaticPathsResult, GetStaticPathsOptions, Page } from 'astro';

type Props = {
	page: Page<ProjectProps>;
};

export function getStaticPaths({
	paginate,
}: GetStaticPathsOptions): GetStaticPathsResult {
	return paginate(projects, { pageSize: 3 });
}

const { page }: Props = Astro.props;
---

<Layout title="Jacob Asper">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<Navigation>
				<li
					slot="list-end"
					class="menu"
				>
					<a href="#menu">
						<HamburgerMenuIcon />
					</a>
				</li>
			</Navigation>
		</header>
		<!-- Sidebar -->
		<aside>
			<!-- Intro -->
			<section id="intro">
				<img
					class="logo"
					src={orangeHtml}
					alt="HTML closing tag"
				/>
				<header>
					<h1>Jacob Asper</h1>
					<p>Software engineer</p>
					<ul class="icons">
						<li>
							<a
								href="https://twitter.com/asper_jacob"
								class="icon brands fa-twitter"
								target="_blank"
								rel="noopener noreferrer"
							>
								Twitter</a
							>
						</li>
						<li>
							<a
								href="https://www.linkedin.com/in/jacobasper191/"
								class="icon brands fa-linkedin"
								target="_blank"
								rel="noopener noreferrer"
							>
								LinkedIn</a
							>
						</li>
						<li>
							<a
								href="https://github.com/20jasper"
								class="icon brands fa-github"
								target="_blank"
								rel="noopener noreferrer"
							>
								GitHub</a
							>
						</li>
					</ul>
				</header>
			</section>
			<AboutMe />
		</aside>
		<!-- Menu -->
		<section id="menu">
			<Navigation />
		</section>
		<!-- Main -->
		<span
			class="navigation"
			id="projects"
		></span>
		<main>
			{page.data.map((project) => <Project {...project} />)}

			<Pagination {page} />
			<ContactForm
				isJobHunting={true}
				pageIndex={page.currentPage}
			/>
			<Footer />
		</main>
	</div>
</Layout>
