/* @import url("fontawesome-all.min.css"); */
@import url("fontawesome.css");

/*
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

:root {
	--primary-text-color: rgb(241 230 216);
	--accent-text-color: rgb(255 152 0);
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote::before, blockquote::after, q::before, q::after {
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Basic */

	@viewport {
		width: device-width;
	}

	@media screen and (max-width: 480px) {
		html, body {
			min-width: 20rem;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *::before, *::after {
		box-sizing: inherit;
	}

	body {
		background: rgb(2 0 19);
		line-height: 2;
		-ms-overflow-style: scrollbar; 
	}

/* Type */

	body, input, select, textarea {
		color: rgb(154 155 161);
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.75;
	}

	a {
		border-bottom: dotted 1px rgb(255 152 0 / 65%);
		color: inherit;
		text-decoration: none;
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
	}

		a::before {
			-moz-transition: color 0.2s ease;
			-webkit-transition: color 0.2s ease;
			transition: color 0.2s ease;
		}

		a:hover {
			border-bottom-color: transparent;
			color: var(--accent-text-color) !important; 
		}

			a:hover::before,
			#copy:hover{
				color: var(--accent-text-color) !important;
			}

		a svg {
			fill: var(--primary-text-color) !important; 
		}

			a:hover svg {
				fill: var(--accent-text-color) !important; 
				-moz-transition: fill 0.2s ease;
				-webkit-transition: fill 0.2s ease;
				transition: fill 0.2s ease;
			}

	strong, b {
		color: var(--primary-text-color);
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em;
		font-weight: 500;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 1em;
		color: var(--primary-text-color);
		font-family: Raleway, Helvetica, sans-serif;
		font-weight: 800;
		letter-spacing: 0.25em;
		line-height: 1.65;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border-bottom: 0;
			color: inherit;
		}

	h2 {
		font-size: 1.1em;
	}

	h3 {
		font-size: 0.9em;
	}

	h4 {
		font-size: 0.7em;
	}

	h5 {
		font-size: 0.7em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	blockquote {
		padding: 0.5em 0 0.5em 2em;
		border-left: solid 0.25rem rgb(255 152 0 / 30%);
		margin: 0 0 2em;
		font-style: italic;
	}

	code {
		padding: 0.25em 0.65em;
		border: solid 1px rgb(255 152 0 / 30%);
		margin: 0 0.25em;
		background: rgb(255 152 0 / 7.5%);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
	}

	pre {
		margin: 0 0 2em;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		-webkit-overflow-scrolling: touch;
	}

		pre code {
			display: block;
			padding: 1em 1.5em;
			line-height: 1.75em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px rgb(255 152 0 / 30%);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Author */

	.author {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		border-bottom: 0;
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		white-space: nowrap;
	}

		.author .name {
			display: block;
			border-bottom: dotted 1px rgb(255 152 0 / 65%);
			margin: 0 1.5em 0 0;
			-moz-transition: border-bottom-color 0.2s ease;
			-webkit-transition: border-bottom-color 0.2s ease;
			transition: border-bottom-color 0.2s ease;
		}

		.author img, .author video {
			display: block;
			width: 4em;
			border-radius: 100%;
		}

		.author:hover .name {
			border-bottom-color: transparent;
		}

/* Blurb */

	.blurb h2 {
		margin: 0 0 1.5em;
		font-size: 0.8em;
	}

	.blurb h3 {
		font-size: 0.7em;
	}

	.blurb p {
		font-size: 0.9em;
	}

/* Box */

	.box {
		padding: 1.5em;
		border: solid 1px rgb(255 152 0 / 30%);
		margin-bottom: 2em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			padding: 0;
			border: 0;
			border-radius: 0;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		display: inline-block;
		height: 4.8125em;
		padding: 0 2.5em;
		border: 0;
		background-color: transparent;
		box-shadow: inset 0 0 0 0.125rem rgb(255 152 0 / 20%);
		color: var(--primary-text-color) !important;
		cursor: pointer;
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.6em;
		font-weight: 800;
		letter-spacing: 0.25em;
		line-height: 4.8125em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		-moz-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
		-webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
		transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover
		{
			box-shadow: inset 0 0 0 1px var(--accent-text-color);
			color: var(--accent-text-color) !important;
		}

			input[type="submit"]:hover:active,
			input[type="reset"]:hover:active,
			input[type="button"]:hover:active,
			button:hover:active,
			.button:hover:active {
				background-color: rgb(46 186 174 / 5%);
			}

		input[type="submit"]::before, input[type="submit"]::after,
		input[type="reset"]::before,
		input[type="reset"]::after,
		input[type="button"]::before,
		input[type="button"]::after,
		button::before,
		button::after,
		.button::before,
		.button::after {
			position: relative;
			color: rgb(224 225 252);
		}

		input[type="submit"]::before,
		input[type="reset"]::before,
		input[type="button"]::before,
		button::before,
		.button::before {
			left: -1em;
			padding: 0 0 0 0.75em;
		}

		input[type="submit"]::after,
		input[type="reset"]::after,
		input[type="button"]::after,
		button::after,
		.button::after {
			left: 1em;
			padding: 0 0.75em 0 0;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			padding: 0 3em;
			font-size: 0.7em;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.5em;
		}

		input[type="submit"].disabled, 
		input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			color: rgb(242 242 242 / 62%) !important;
			pointer-events: none;
		}

			input[type="submit"].disabled::before, 
			input[type="submit"]:disabled::before,
			input[type="reset"].disabled::before,
			input[type="reset"]:disabled::before,
			input[type="button"].disabled::before,
			input[type="button"]:disabled::before,
			button.disabled::before,
			button:disabled::before,
			.button.disabled::before,
			.button:disabled::before {
				color: rgb(255 152 0 / 30%) !important;
			}

/* Form */

	form {
		margin: 0 0 2em;
	}

		form span{
			margin-top: -1em;
			margin-bottom: 3em;
		}

	label {
		display: block;
		margin: 0 0 1em;
		color: var(--primary-text-color);
		font-size: 0.9em;
		font-weight: 700;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 0 1em;
		border: solid 0.125rem rgb(255 152 0 / 15%);
		border-radius: 0;
		background: rgb(255 152 0 / 2%);
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-color: rgb(255 152 0 / 30%);
			box-shadow: inset 0 0 0 1px rgb(255 152 0 / 70%);
		}

	.select-wrapper {
		position: relative;
		display: block;
		text-decoration: none;
	}

		.select-wrapper::before {
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-variant: normal;
			font-weight: 900;
			line-height: 1;
			text-rendering: auto;
			text-transform: none !important;
		}

		.select-wrapper::before {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 2.75em;
			height: 2.75em;
			color: rgb(255 152 0 / 30%);
			content: '\f078';
			line-height: 2.75em;
			pointer-events: none;
			text-align: center;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	select {
		height: 2.75em;
		padding-right: 2.75em;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 152, 0, 0.3)' /%3E%3C/svg%3E");
		background-position: calc(100% - 1rem) center;
		background-repeat: no-repeat;
		background-size: 1.25rem;
		text-overflow: ellipsis;
	}

		select option {
			background: rgb(25 19 33);
			color: rgb(232 231 253);
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
		/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
		resize: block;
	}

	input[type="checkbox"],
	input[type="radio"] {
		z-index: -1;
		display: block;
		width: 1em;
		margin-right: -2em;
		float: left;
		opacity: 0;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			position: relative;
			display: inline-block;
			padding-right: 0.75em;
			padding-left: 2.4em;
			color: rgb(156 159 191);
			cursor: pointer;
			font-size: 1em;
			font-weight: 400;
			text-decoration: none;
		}

			input[type="checkbox"] + label::before,
			input[type="radio"] + label::before {
				display: inline-block;
				font-family: 'Font Awesome 5 Free';
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-variant: normal;
				font-weight: 900;
				line-height: 1;
				text-rendering: auto;
				text-transform: none !important;
			}

			input[type="checkbox"] + label::before,
			input[type="radio"] + label::before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 2.0625em;
				height: 2.0625em;
				border: solid 1px rgb(255 152 0 / 30%);
				background: rgb(255 152 0 / 7.5%);
				content: '';
				font-size: 0.8em;
				line-height: 2.0625em;
				text-align: center;
			}

		input[type="checkbox"]:checked + label::before,
		input[type="radio"]:checked + label::before {
			border-color: var(--primary-text-color);
			background: var(--primary-text-color);
			color: rgb(20 19 33);
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label::before,
		input[type="radio"]:focus + label::before {
			border-color: var(--accent-text-color);
			box-shadow: 0 0 0 1px var(--accent-text-color);
		}

	input[type="radio"] + label::before {
		border-radius: 100%;
	}

	::placeholder {
		color: rgb(224 225 252) !important;
		opacity: 1.0;
	}

/* Icon */

	.icon {
		position: relative;
		border-bottom: none;
		text-decoration: none;
	}

		.icon::before {
			display: inline-block;
			font-family: 'Font Awesome 5 Free';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-variant: normal;
			font-weight: 400;
			line-height: 1;
			text-rendering: auto;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon::before {
			line-height: inherit;
		}

		.icon.solid::before {
			font-weight: 900;
		}

		.icon.brands::before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.suffix::before {
			float: right;
		}

/* Image */

	.image {
		position: relative;
		display: inline-block;
		border: 0;
	}

		.image img, .image video {
			display: block;
			border-radius: 0;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img, .image.left video, .image.right video {
				width: 100%;
			}

		.image.left {
			top: 0.25em;
			padding: 0 1.5em 1em 0;
			float: left;
		}

		.image.right {
			top: 0.25em;
			padding: 0 0 1em 1.5em;
			float: right;
		}

		.image.fit {
			display: block;
			width: 100%;
			margin: 0 0 2em;
		}

			.image.fit img, .image.fit video {
				width: 100%;
			}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 3em;
		}

			.image.featured img, .image.featured video {
				width: 100%;
			}

			@media screen and (max-width: 736px) {
				.image.featured {
					margin: 0 0 1.5em;
				}

			}

		.image.main {
			display: block;
			width: 100%;
			margin: 0 0 3em;
		}

			.image.main img, .image.main video {
				width: 100%;
			}

/* List */

	ol {
		padding-left: 1.25em;
		margin: 0 0 2em;
		list-style: decimal;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		padding-left: 1em;
		margin: 0 0 2em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			padding-left: 0;
			list-style: none;
		}

			ul.alt li {
				padding: 0.5em 0;
				border-top: solid 1px rgb(255 152 0 / 30%);
			}

				ul.alt li:first-child {
					padding-top: 0;
					border-top: 0;
				}

	dl {
		margin: 0 0 2em;
	}

		dl dt {
			display: block;
			margin: 0 0 1em;
			font-weight: 700;
		}

		dl dd {
			margin-left: 2em;
		}

/* Actions */

	ul.actions {
		display: flex;
		cursor: default;
		list-style: none;
		margin-inline-start: -1em;
		padding-inline-start: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		@media screen and (max-width: 480px) {
			ul.actions:not(.fixed) {
				flex-direction: column;
				inline-size: 100% !important;
				margin-inline-start: 0;
			}

				ul.actions:not(.fixed) li {
					flex-grow: 1;
					flex-shrink: 1;
					padding: 1em 0 0;
					inline-size: 100%;
					text-align: center;
				}

					ul.actions:not(.fixed) li > * {
						inline-size: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-block-start: 0;
					}

		}

/* Icons */

	ul.icons {
		padding-left: 0;
		cursor: default;
		list-style: none;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li > * {
				border: 0;
			}

				ul.icons li > * .label {
					display: none;
				}

/* Posts */

	ul.posts {
		padding: 0;
		list-style: none;
	}

		ul.posts li {
			padding: 1.5em 0 0;
			border-top: dotted 1px rgb(255 152 0 / 30%);
			margin: 1.5em 0 0;
		}

			ul.posts li:first-child {
				padding-top: 0;
				border-top: 0;
				margin-top: 0;
			}

		ul.posts article {
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-start;
		}

			ul.posts article .image {
				display: block;
				width: 4em;
				min-width: 4em;
				margin-right: 1.5em;
			}

				ul.posts article .image img, ul.posts article .image video {
					width: 100%;
				}

			ul.posts article header {
				flex: 1;
				flex-grow: 1;
			}

				ul.posts article header h3 {
					margin-top: 0.125em;
					font-size: 0.7em;
				}

				ul.posts article header .published {
					display: block;
					margin: -0.625em 0 1.7em;
					font-family: Raleway, Helvetica, sans-serif;
					font-size: 0.6em;
					font-weight: 400;
					letter-spacing: 0.25em;
					text-transform: uppercase;
				}

				ul.posts article header > :last-child {
					margin-bottom: 0;
				}

/* Mini Post */

	.mini-post {
		display: flex;
		flex-direction: column-reverse;
		border: solid 1px rgb(255 152 0 / 10%);
		border-radius: 3.125rem;
		margin: 0 0 2em;
		background: rgb(20 19 33);
	}

		.mini-post .image {
			overflow: hidden;
			width: 100%;
			border-top-left-radius: 3.125rem;
			border-top-right-radius: 3.125rem;
		}

			.mini-post .image img, .mini-post .image video {
				width: 100%;
				-moz-transition: -moz-transform 0.2s ease-out;
				-webkit-transition: -webkit-transform 0.2s ease-out;
				transition: transform 0.2s ease-out;
			}

			.mini-post .image:hover img, .mini-post .image:hover video {
				transform: scale(1.05);
			}

		.mini-post header {
			position: relative;
			min-height: 4em;
			flex-grow: 1;
			padding: 1.25em 4.25em 0.1em 1.25em ;
		}

			.mini-post header h3 {
				font-size: 0.7em;
			}

			.mini-post header .published {
				display: block;
				margin: -0.625em 0 1.7em;
				font-family: Raleway, Helvetica, sans-serif;
				font-size: 0.6em;
				font-weight: 400;
				letter-spacing: 0.25em;
				text-transform: uppercase;
			}

			.mini-post header .author {
				position: absolute;
				top: 2em;
				right: 2em;
			}

	.mini-posts {
		margin: 0 0 2em;
	}

		@media screen and (max-width: 1280px) {
			.mini-posts {
				display: flex;
				width: calc(100% + 2em);
				flex-wrap: wrap;
			}

				.mini-posts > * {
					width: calc(50% - 2em);
					margin: 2em 2em 0 0;
				}

				.mini-posts > :nth-child(-n + 2) {
					margin-top: 0;
				}

		}

		@media screen and (max-width: 480px) {
			.mini-posts {
				display: block;
				width: 100%;
			}

				.mini-posts > * {
					width: 100%;
					margin: 0 0 2em;
				}

		}

/* Post */

	.post {
		position: relative;
		padding: 3em 3em 1em;
		border: solid 0.125rem rgb(255 152 0 / 10%);
		border-radius: 3.125rem;
		margin: 0 0 3em;
		background: rgb(20 19 33);

	}

		.post > header {
			position: relative;
			left: -3em;
			display: flex;
			width: calc(100% + 6em);
			margin: -3em 0 3em;
		}

			.post > header .title {
				flex: 1;
				flex-grow: 1;
				padding: 3.75em 3em 0;
			}

				.post > header .title h2 {
					font-size: 1.5em;
					font-weight: 900;
				}

				.post > header .title > :last-child {
					margin-bottom: 0;
				}

			.post > header .meta {
				width: 17em;
				min-width: 17em;
				padding: 3.75em 3em 1.75em;
				text-align: right;
			}

				.post > header .meta > * {
					margin: 0 0 1em;
				}

				.post > header .meta > :last-child {
					margin-bottom: 0;
				}

				.post > header .meta .published {
					display: block;
					margin-top: 0.5em;
					color: var(--primary-text-color);
					font-family: Raleway, Helvetica, sans-serif;
					font-size: 0.7em;
					font-weight: 800;
					letter-spacing: 0.25em;
					text-transform: uppercase;
					white-space: nowrap;
				}

		.post > a.image.featured {
			overflow: hidden;
			border-radius: 3.125rem;

		}

		.post > .image.featured {
			overflow: hidden;
			border-radius: 3.125rem;
		}

			.post > a.image.featured img, .post > a.image.featured video {
				-moz-transition: -moz-transform 0.2s ease-out;
				-webkit-transition: -webkit-transform 0.2s ease-out;
				transition: transform 0.2s ease-out;
			}

			.post > a.image.featured:hover img, .post > a.image.featured:hover video {
				transform: scale(1.05);
			}

		.post > footer {
			display: flex;
			align-items: center;
		}

			.post > footer .actions {
				flex-grow: 1;
			}

			.post > footer .stats {
				padding: 0;
				cursor: default;
				list-style: none;
			}

				.post > footer .stats li {
					display: inline-block;
					padding: 0 0 0 2em;
					border-left: solid 1px rgb(255 152 0 / 30%);
					margin: 0 0 0 2em;
					font-family: Raleway, Helvetica, sans-serif;
					font-size: 0.6em;
					font-weight: 400;
					letter-spacing: 0.25em;
					line-height: 1;
					text-transform: uppercase;
				}

					.post > footer .stats li:first-child {
						padding-left: 0;
						border-left: 0;
						margin-left: 0;
					}

					.post > footer .stats li .icon {
						border-bottom: 0;
					}

						.post > footer .stats li .icon::before {
							margin-right: 0.75em;
							color: rgb(255 152 0 / 30%);
						}

		@media screen and (max-width: 980px) {
			.post {
				left: -2em;
				width: calc(100% + (.5em * 2));
				padding: 1.5em 1.5em 0.1em;
				margin: 0 1.5em 2em;
			}

				.post > header {
					flex-direction: column;
					padding: 3.75em 3em 1.25em;
					border-left: 0;
				}

					.post > header .title {
						flex: 0 1 auto;
						padding: 0;
						margin: 0 0 2em;
						text-align: center;
					}

					.post > header .meta {
						display: flex;
						width: 100%;
						align-items: center;
						justify-content: center;
						padding: 0;
						padding-top: 0;
						border-left: 0;
						margin: 0 0 2em;
						text-align: left;
					}

						.post > header .meta > * {
							padding-left: 2em;
							border-left: solid 1px rgb(255 152 0 / 30%);
							margin-left: 2em;
						}

						.post > header .meta > :first-child {
							padding-left: 0;
							border-left: 0;
							margin-left: 0;
						}

						.post > header .meta .published {
							margin-top: 0;
							margin-bottom: 0;
						}

						.post > header .meta .author {
							flex-direction: row-reverse;
							margin-bottom: 0;
						}

							.post > header .meta .author .name {
								margin: 0 0 0 1.5em;
							}

							.post > header .meta .author img {
								width: 3.5em;
							}

		}

		@media screen and (max-width: 736px) {
				.post > header {
					left: -1.5em;
					width: calc(100% + 3em);
					padding: 3em 1.5em 0.5em;
					margin: -1.5em 0 1.5em;
				}

					.post > header .title h2 {
						font-size: 1.1em;
					}

		}

		@media screen and (max-width: 480px) {
			.post > header .meta {
				flex-direction: column;
				align-items: center;
			}

				.post > header .meta > * {
					padding-left: 0;
					border-left: 0;
					margin: 1em 0 0;
				}

				.post > header .meta .author .name {
					display: none;
				}

			.post > .image.featured {
				margin-top: calc(-1.5em - 1px);
			}

			.post > footer {
				flex-direction: column-reverse;
				align-items: stretch;
			}

				.post > footer .stats {
					text-align: center;
				}

					.post > footer .stats li {
						padding: 0 0 0 1.25em;
						margin: 0 0 0 1.25em;
					}

		}

/* Section/Article */

	header p {
		margin-top: -1em;
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.7em;
		font-weight: 400;
		letter-spacing: 0.15em;
		line-height: 2.5;
		text-transform: uppercase;
	}

/* Header */

	body {
		padding-top: 3.5em;
	}

	#header {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 3.5em;
		justify-content: space-between;
		border-bottom: solid 1px rgb(255 152 0 / 10%);
		background-color: rgb(20 19 33);
		border-bottom-left-radius: 1.5625rem;
		border-bottom-right-radius: 1.5625rem;
		line-height: 3.5em;

	}

		#header a {
			color: inherit;
			text-decoration: none;
		}

		#header ul {
			padding-left: 0;
			margin: 0;
			list-style: none;
		}

			#header ul li {
				display: inline-block;
				padding-left: 0;
			}

		#header h1 {
			height: inherit;
			padding: 0 0 0 1.5em;
			line-height: inherit;
			white-space: nowrap;
		}

			#header h1 a {
				font-size: 0.7em; 
			}

		#header nav {
			overflow: hidden;
			height: inherit;
			flex: 1;
			padding-left: 1.5em;
			margin-left: 1.5em;
			line-height: inherit;
			display: flex;
			align-items: center;
		}

			#header nav ul {
				inline-size: 100%;
				display: flex;
				align-items: center;
			}

			#header nav li {
				padding-left: 1em;
				margin-left: 1em;
				line-height: 1;
				display: flex;
				align-items: center;
			}

				#header nav li:first-child {
					padding-left: 0;
					border-left: 0;
					margin-left: 0;
				}

				#header nav li:last-child {
					margin-left: auto;
					margin-right: 2rem;
					
					/* default hidden until shown by a media query */
					display: none;
				}

				#header nav li a {
					border-bottom: 0;
					color: var(--primary-text-color);
					font-family: Raleway, Helvetica, sans-serif;
					font-size: .8rem;
					font-weight: 800;
					letter-spacing: .2rem;
					text-transform: uppercase;
				}

		#header .main {
			height: inherit;
			line-height: inherit;
			text-align: right;
		}

			#header .main ul {
				height: inherit;
				line-height: inherit;
			}

				#header .main ul li {
					height: inherit;
					line-height: inherit;
					white-space: nowrap;
				}

					#header .main ul li > * {
						display: block;
						float: left;
					}

					#header .main ul li > a {
						position: relative;
						overflow: hidden;
						width: 4em;
						border-bottom: 0;
						color: var(--primary-text-color);
						text-decoration: none;
						text-indent: 4em;
					}

						#header .main ul li > a::before {
							display: inline-block;
							font-family: 'Font Awesome 5 Free';
							-moz-osx-font-smoothing: grayscale;
							-webkit-font-smoothing: antialiased;
							font-style: normal;
							font-variant: normal;
							font-weight: 900;
							line-height: 1;
							text-rendering: auto;
							text-transform: none !important;
						}

						#header .main ul li > a::before {
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							width: inherit;
							height: inherit;
							line-height: inherit;
							text-align: center;
							text-indent: 0;
						}

		#header form {
			margin: 0;
		}

			#header form input {
				position: relative;
				top: -0.125rem;
				display: inline-block;
				height: 2.5em;
				vertical-align: middle;
			}

		/* hide nav items on smaller screen sizes  */
		@media screen and (max-width: 800px) {
			#header nav li {
				display: none;
			}

			#header nav li:last-child {
				display: flex;
			}
		}

		@media screen and (max-width: 736px) {
			#header {
				height: 2.75em;
				line-height: 2.75em;
			}

				#header h1 {
					padding: 0 0 0 1em;
				}
		}

/* Wrapper */

	#wrapper {
		display: flex;
		width: 90em;
		max-width: 100%;
		padding: 4.5em;
		margin: 0 auto;
		opacity: 1;
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}

		body.is-menu-visible #wrapper {
			opacity: 0.15;
		}

		@media screen and (max-width: 1680px) {
			#wrapper {
				padding: 3em;
			}

		}

		@media screen and (max-width: 1280px) {
			#wrapper {
				display: block;
			}

		}

		@media screen and (max-width: 736px) {
			#wrapper {
				padding: 2em;
			}

		}
		
		body.single #wrapper {
			display: block;
		}

/* Sidebar */

	aside {
		width: 22em;
		min-width: 22em;
		margin-right: 3em;
	}

		aside > * {
			padding: 3em 0 0;
			border-top: solid 1px rgb(255 152 0 / 30%);
			margin: 3em 0 0;
		}

		aside > :first-child {
			padding-top: 0;
			border-top: 0;
			margin-top: 0;
		}

		@media screen and (max-width: 1280px) {
			aside {
				width: 100%;
				min-width: 0;
				padding: 3em 0 0;
				border-top: solid 1px rgb(255 152 0 / 30%);
				margin: 3em 0 0;
				overflow-x: hidden;
			}

		}

/* Intro */

	#intro .logo {
		position: relative;
		display: inline-block;
		overflow: hidden;
		width: 4em;
		border-bottom: 0;
		margin: 0 0 1em;
	}

		#intro .logo::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23f4f4f4' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%23f4f4f4' /%3E%3C/svg%3E");
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			content: '';
		}

		#intro .logo img {
			display: block;
			width: 4.5em;
			margin-left: -0.25em;
		}

	#intro header h2 {
		font-size: 2em;
		font-weight: 900;
	}

	#intro header p {
		font-size: 0.8em;
	}

	#intro .icons {
		color: rgb(154 155 161);
	}

	@media screen and (max-width: 1280px) {
		#intro {
			margin: 0 0 3em;
			text-align: center;
		}

			#intro header h2 {
				font-size: 2em;
			}

			#intro header p {
				font-size: 0.7em;
			}

	}

	@media screen and (max-width: 736px) {
		#intro {
			padding: 1.25em 0;
			margin: 0 0 1.5em;
		}

			#intro > :last-child {
				margin-bottom: 0;
			}

			#intro .logo {
				margin: 0 0 0.5em;
			}

			#intro header h2 {
				font-size: 1.25em;
			}

			#intro header > :last-child {
				margin-bottom: 0;
			}

	}

/* Footer */

	footer .copyright {
		color: rgb(224 225 252);
		font-family: Raleway, Helvetica, sans-serif;
		font-size: 0.5em;
		font-weight: 400;
		letter-spacing: 0.25em;
		text-transform: uppercase;
	}

	body.single footer {
		text-align: center;
	}

/* Menu */

	#menu {
		position: fixed;
		z-index: 10002;
		top: 0;
		right: 0;
		width: 25em;
		max-width: 80%;
		height: 100%;
		border-left: solid 0.125rem rgb(255 152 0 / 10%);
		background: rgb(20 19 33);
		border-bottom-left-radius: 3.125rem;
		border-top-left-radius: 3.125rem;
		box-shadow: none;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		transform: translateX(25em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		visibility: hidden;
	}

		#menu > * {
			padding: 3em;
		}

			#menu > * > :last-child {
				margin-bottom: 0;
			}

		#menu > :first-child {
			border-top: 0;
		}

			#menu nav > ul > li {
				padding: 1.5em 0 0;
				border: 0;
				border-top: dotted 1px rgb(255 152 0 / 30%);
				margin: 1.5em 0 0;
			}

				#menu nav > ul > li a {
					display: block;
					border-bottom: 0;
					color: var(--primary-text-color);
					font-size: 0.7em;
					font-size: 1rem;
					font-weight: 800;
					letter-spacing: .2rem;
					text-transform: uppercase;
					-moz-transition: color 0.2s ease;
					-webkit-transition: color 0.2s ease;
					transition: color 0.2s ease;
				}

					#menu nav > ul > li a p {
						margin-bottom: 0;
						font-family: Raleway, Helvetica, sans-serif;
						font-size: 0.6em;
						font-weight: 400;
						letter-spacing: 0.25em;
						text-decoration: none;
						text-transform: uppercase;
					}

					#menu nav > ul > li a:hover {
						color: var(--accent-text-color);
					}

				#menu nav > ul > li:first-child {
					padding-top: 0;
					border-top: 0;
					margin-top: 0;
				}

		body.is-menu-visible #menu {
			transform: translateX(0);
			visibility: visible;
		}

		@media screen and (max-width: 736px) {
			#menu > * {
				padding: 1.5em;
			}

		}

/* navigation */

	span.navigation{
		position: relative;
		top: 1em;
		display: hidden;
	}

		span.navigation#projects{
			top: -4em;
		}
	
	@media screen and (max-width: 1280px) {
			span.navigation#projects{
				top: 12em;
			}

	}

/* video */
video{
	max-width: 100%;
}

/* font awesome */
.font-awesome {
	height: 1.5rem;
	vertical-align: -.45rem;
	fill: var(--primary-text-color);
	/* margin: auto 0; */
}