---
import Scripts from '@components/Scripts.astro';

import orangeHtml from '@images/orangehtml.webp';

import '@css/main.css';

type Props = {
	title: string;
	/** text used for meta description and about me */
	description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<!--
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<link
			rel="icon"
			href={orangeHtml}
		/>
		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<Scripts />
	</head>
	<body>
		<slot />
	</body>
</html>
