---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<!--
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
    <link
      rel="icon"
      href="images/orangehtml.webp"
    >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >
    <meta
      name="description"
      content="Community taught software engineer with a proven track record of creating and implementing successful front and back end web applications."
    >
		<meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="assets/css/main.css"
    >
  </head>
	<body>
		<slot />
	</body>
</html>
